* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

button {
    padding: .65rem 1.4rem;
    font-size: 1rem;
    width: 50%;
    font-weight: 500;
    opacity: 1;
    text-align: center;
    border-radius: 3px;
    background: #31ce36 !important;
    border-color: #31ce36 !important;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #28a745 !important;
}

.container {
    margin: 0px auto;
    max-width: 1200px;
}

h2 {
    color: #FFF;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.account-page {
    padding: 50px 0;
}

.form-container {
    background: #fff;
    width: 500px;
    min-height: 600px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 10px;
}

.form-container span {
    font-weight: bold;
    padding: 0 10px;
    cursor: pointer;
    display: inline-block;
}

.form-container #or {
    color: #5a5a5a  ;
}

.form-btn {
    display: inline-block;
}

.form-container form {
    width: 100%;
    padding: 0 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 100px;
    transition: transform 1s;
    align-items: center;
}

form input {
    width: 100%;
    height: 40px;
    font-size: 1rem;
    border-color: #ebedf2;
    padding: .6rem 1rem;
    border-width: 2px;
    outline-color: #007BFF;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

form .btn:focus {
    outline: none;
}

#LoginForm {
    left: -500px;
}

#RegForm {
    left: 0;
}

#Forgot-pass {
    display: flex;
    justify-content: flex-end;
    width: 100%;
	color: #5a5a5a;
    margin-bottom: 10px;
}

#Indicator {
    width: 100px;
    border: none;
    background: #111;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}

.social-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-container .social {
    color: #fff;
    padding: 10px 40px;
    border-radius: 5px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.social-container .social:hover {
    opacity: 0.8;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    width: 100%;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.separator::before {
    margin-right: 10px;
}

.separator::after {
    margin-left: 10px;
}


footer {
	padding-top: 50px;
}