.Cart {
  margin: auto;
  height: max-content;
  background-color: #f1f2f3;
}

.Cart .frame {
  height: max-content;
  margin: 0px 230px;
  display: block;
  padding: 20px 100px;
}

.Cart .frame .cart-head{
  gap: 10px;
  margin-bottom: 20px;
  justify-content: space-between;
}

#list b {
  font-size: 25px;
  margin-left: 10px;
}

#listP img {
  max-width: 100%;
  height: 40px;
}

.Cart .table {
  border-collapse: collapse;
  table-layout: fixed;
  border-radius: 10px;
  height: max-content;
  width: 100%;
  background: #fff;
}

.Cart .table li {
  list-style-type: none;
  padding: 20px;
  gap: 10px;
  border-bottom: 1px solid #eee;
  display: flex;
  height: max-content;
  font-size: 15px;
}

.Cart .table li .item-left {
  width: max-content;
}


.Cart .table li .item-left .item-img img {
  width: 110px;
  padding: 10px;
  border: 1px solid #eee;
  height: 100px;
}

.Cart .table li .item-left .delete-btn {
  color: grey ;
  cursor: pointer;
  text-align: center;
  margin-top: 15px; 
  width : 100% ; 
}

.Cart .table li .item-left .delete-btn:hover {
  color: #007bff;
}

.Cart .table li .item-right {
  width: 80%;
  gap: 10px;
  display: flex;
}


.Cart .table li .item-right .item-name #IDmh,
.Cart .table li .item-right .item-prices .sum {
  color:#db0006;
  display: flex;
}

.Cart .table li .item-right .item-prices .total {
  margin-left: 10px;
  font-size: 18px;
}


.Cart .table li .item-right .item-prices #oldprice {
  text-decoration: line-through;
  font-size: 15px;
  color: #5a5959;
}

.Cart .table li .item-right .item-prices p {
  margin: 10px 0;
  font-size: 16px;
}

.Cart .table li .item-right .item-name {
  width: 70%;
}

.Cart .table .check {
  display: flex;
  align-items: center;
}

.Cart .table .check input {
  width: 15px;
  height: 15px;
}

.Cart .cart-head .cart-list {
  height: max-content;
  background-color: #FFF;
  border-radius: 5px;
}

.Cart .cart-head .cart-list .Voucher {
    color: #1982F9;
    cursor: pointer;
    padding: 20px;
    font-weight: 400;
    height: max-content;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
}

.Cart .cart-head .cart-list .Voucher .Voucher-container {
  width: max-content;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  position: relative;
  display: flex;
}
.Cart .cart-head .cart-list .Voucher h2 {
  font-size: 16px;
  margin: 0;
  width: 100% ;
}

#cart-empty {
  display: block;
}
.cart-empty {
  width: 100%;
  background-color: #FFF;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  border-radius: 5px;
  padding-bottom: 30px;
  align-items: center;
}

.cart-empty img {
  height: 300px;
}

.cart-empty span {
  font-size: 15px;
  color: #828282;
}

.voucher-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 10px;
  transition: transform 0.3s ease;
}

.voucher-header {
  background: var(--home-coupon-bg);
    display: flex;
    display: -ms-flex;
    border-radius: 10px;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.08);
    position: relative;
}

.voucher-header::before {
  border-top: none;
  border: 1px solid #cfcfcf;
    background: #fff;top: -1px;
    border-top: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    content: "";
    width: 10px;
    height: 6px;
    left: 75px;
    position: absolute;
    z-index: 10;
}

.voucher-header::after {
  border-bottom: none;
  border: 1px solid #cfcfcf;
    background: #fff;
    bottom: -1px;
    border-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    content: "";
    width: 10px;
    height: 6px;
    left: 75px;
    position: absolute;
    z-index: 10;

}

.voucher-icon {
  padding: 5px;
  width: 70px;
  height: 70px;
  margin-right: 10px;
  object-fit: contain;
}

.voucher-info {
  flex: 1;
  padding: 5px;
}

.voucher-info h3 {
  font-size: 18px;
  margin: 0;
  color: #333;
}

.voucher-info p {
  font-size: 14px;
  color: #666;
  margin: 5px 0;
}

.voucher-validity {
  font-size: 12px;
  color: #999;
}

.voucher-footer {
  flex-direction: column;
  padding: 10px;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  text-align: right;
}

.apply-btn {
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.apply-btn:hover {
  background-color: #0056b3;
}

.item-quantity {
  display: flex;
  align-items: center;
  border: 1px solid #ccc; 
  border-radius: 5px; 
  overflow: hidden;
  width: 100px; 
  height: 30px; 
  color: #343232; 
}

.item-quantity button {
  flex: 1;
  border: none; 
  background-color: white;
  cursor: pointer;
  font-size: 20px;

}

.item-quantity .quantity {
  flex: 2;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border-left: 1px solid #ccc; /* Đường phân cách trái */
  border-right: 1px solid #ccc; /* Đường phân cách phải */
}

.shoping__checkout {
  background: #FFF;
  z-index: 2;
  border-radius: 5px;
  position: sticky;
  gap: 30px;
  box-shadow:0px -3px 9px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: flex-end;
  bottom: 0;
  padding: 10px;
}



.shoping__checkout ul {
  margin: 0px;
  padding: 0;
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.shoping__checkout ul li span {
  color: #dd2222;
  margin-left: 10px;
  float: right;
}

.shoping__checkout ul li {
  font-size: 18px;
  display: flex;
  align-items: center;
  color: #292929;
  font-weight: 600;
  list-style: none;
}

.shoping__checkout .primary-btn {
  display: block;
  text-align: center;
}

.primary-btn {
  padding: 10px;
  align-items: center;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  background: #E30019;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  background-color: transparent;
}

.infor-right .box {
  width: 100%;
  height: 200px;
  margin-top: 10px;
  border: solid 1px grey;
  background-color: #f5f5f5;
}

.content-box-cart .table-infor {
  margin-bottom: 0px;
  background-color: #f5f5f5;
}

.content-box-cart .table-infor label {
  font-size: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-control {
  padding: 10px 10px;
  outline-color: #007BFF;
  width: 100%;
  border: 1px solid #dee2e6;
  border-radius: 0.375rem;
  font-size: 17px;
}

textarea {
  resize: none;
  height: 100px;
  font-size: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="radio"] {
  margin-right: 5px;
}

.submit-button {
  display: block;
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 10; 
}

.PayMent {
  position: fixed;
  max-width: 1020px;
  z-index: 11;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  flex-wrap: wrap;
  background-color: #FFF;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.product-list {
  width: 40%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-right: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-list h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.product-list ul {
  list-style-type: none;
  padding: 0;
}

.product-list li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 14px;
}

.body-show {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.order-form {
  width: 55%;
}


.order-form {
  font-family: Arial, sans-serif;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #FFF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.order-form .customer,.order-form .pay {
  width: 100%;
}

.choice {
  height: 100px;
}

[ng-cloak] {
  visibility: hidden;
}
