.personal_page {
    width: 100%;
    padding: 20px 0;
    background-color: #f1f2f3;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block; 
    border-radius: 10px;
    z-index: 2;
}
 
.personal_page .frame {
    display: flex;
    align-items: normal;
    justify-content: space-between;
}
.status-buttons {
    display: flex;
    margin-bottom: 20px;
  }
  
  .status-buttons button {
    padding: 10px 20px;
    margin-right: 15px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .status-buttons button:hover {
    background-color: #f1f1f1;
  }
  
  .panel {
    display: none; /* Ẩn mặc định */
    opacity: 0; /* Mặc định độ mờ là 0 */
    padding: 20px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: opacity 0.5s ease, transform 0.5s ease; /* Thêm hiệu ứng chuyển đổi */
  }
  
  .panel.active {
    display: block; /* Hiển thị panel khi có lớp active */
    opacity: 1; /* Đặt độ mờ thành 1 khi hiển thị */
    transform: translateY(0); /* Di chuyển panel về vị trí ban đầu */
  }
  
  .waiting {
    background-color: #ffecb3;
  }
  
  .waitingForPickUp {
    background-color: #e1f5fe;
  }
  
  .inTransit {
    background-color: #c8e6c9;
  }
  
  .returned {
    background-color: #ffccbc;
  }
  
  .delivered {
    background-color: #dcedc8;
  }
  
  .cancelled {
    background-color: #f8bbd0;
  }


  .product-card {
    background-color: #fff;
}

/* Product Info */
.product-info {
    display: flex;
    margin-top: 16px;
}

.product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.product-details {
    flex: 1;
}

.product-title {
    font-size: 14px;
    margin: 0;
    color: #333;
}

.product-quantity {
    font-size: 12px;
    color: #666;
    margin: 4px 0;
}

.product-price {
    display: flex;
    gap: 8px;
}

.discount-price {
    color: red;
    font-size: 16px;
    font-weight: bold;
}

/* Order Summary */
.order-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    padding: 10px 0;
    border-top: 1px solid #f1f1f1;
}

.total-label {
    font-size: 14px;
    color: #333;
}

.total-amount {
    font-size: 18px;
    color: red;
    font-weight: bold;
}

/* Actions */
.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.actions button {
    background-color: #f5f5f5;
    color: #333;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.actions .buy-again {
    background-color: #ff5722;
    color: #fff;
}

.actions button:hover {
    background-color: #e0e0e0;
}
  

.personal_page .left {
    width: 300px;
    background-color: #FFF;
    border-radius: 5px;
    padding: 16px;
}

.personal_page .left .avatar {
    border-bottom: 1px solid #CFCFCF;
    padding-bottom: 16px;
    margin-bottom: 16px;
    text-align: center;
    display: flex;
}

.personal_page .left .avatar .info {
    font-size: 18px;
    font-weight: 600;
    padding-left: 30px;
    line-height: 60px;
}

.personal_page .left .avatar .ava {
    width: 60px;
    height: 60px;
}

.personal_page .left .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.personal_page .left .left-sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.personal_page .left .left-sidebar li {
    margin-bottom: 15px;
}

.personal_page .left .left-sidebar a {
    display: flex;
    line-height: 30px;
    gap: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    text-decoration: none;
    color: #333;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.personal_page .left .left-sidebar a span svg {
    height: 100%;
}

.personal_page .left .left-sidebar a:hover {
    background-color: #e1e1e1;
}

.personal_page .right {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    margin-left: 20px;
}

.personal_page .right  h1 {
    margin: 0;
    font-size: 22px;
}

#account-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

#profile-container {
    min-width: 800px;
    background: #fff;
}

.profile-content {
    display: flex;
    justify-content: space-between;
}

.profile-content form {
    width: 50%;
}

#profile-container .profile-header {
    padding-bottom: 16px;
    height: 55px;
    border-bottom: 1px solid #ccc;  }

  #profile-container .profile-header h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
  }

  #profile-container  .profile-header .description {
    color: #666;
    font-size: 14px;
    margin: 10px 0px 5px 0;
  }

  #profile-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

#profile-container  td {
    padding: 10px;
    font-size: 17px;
}

  #profile-container  label {
    font-weight: bold;
    color: #333;
    width: 10px;
  }

input[type="text"],
input[type="date"],
input[type="email"],  
input[type="password"] ,
.readonly-field {
    width: 100%;
    padding: 10px 0 10px 11px;
    outline-color: #007bff;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 15px;
    background: #FFF;
}

#profile-container  .readonly-field {
    border: none;
    color: #666;
}

#profile-container button {
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    width: 35%;
    border-radius: 4px;
    cursor: pointer;
}

#profile-container  .btn-primary {
    background-color: #007bff;
    color: #fff;
}

#profile-container .btn-light {
    background-color: #f8f9fa;
    color: #333;
}

#profile-container  .radio-group {
    display: flex;
    gap: 10px;
    align-items: center;
}

#profile-container  .radio-group label {
    display: flex;
    align-items: center;
    gap: 5px;
}

#profile-container  .profile-photo {
    align-items: center;
    flex-direction: column;
    display: flex;
    border-left: 1px solid #ccc;
    width: 40%;
    margin-top: 20px;
}

#profile-container .profile-photo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

 #profile-container .file-info {
    color: #666;
    font-size: 12px;
}

.address-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.default-btn {
    background-color: #e74c3c;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.default-btn:hover {
    background-color: #c0392b;
}

.address-item .name,
.address-item .address,
.address-item .country {
    font-size: 14px;
    margin: 0 5px;
}

.update-btn {
    background-color: #3498db;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.update-btn:hover {
    background-color: #2980b9;
}

.add-new-address-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.add-new-address-btn:hover {
    background-color: #2980b9;
}


.status-buttons {
    display: flex;
       background-color: #FFF;
       padding: 10px;
       border-bottom: 1px solid #CCC;
 }
 
.status-buttons button {
   background-color: transparent;
   border: none;
   font-size: 16px;
   color: #333;
   padding: 10px 15px;
   cursor: pointer;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
.status-buttons  button .count {
   color: red;
   font-weight: bold;
   margin-left: 5px;
 }
 
.status-buttons button.active {
   border-bottom: 2px solid red;
   font-weight: bold;
 }
 .panel {
   display: none; /* Ẩn mặc định */
   opacity: 0; /* Mặc định độ mờ là 0 */
   background-color: #f9f9f9;
   margin-bottom: 20px;
   border-radius: 5px;
   transition: opacity 0.5s ease, transform 0.5s ease; /* Thêm hiệu ứng chuyển đổi */
 }
 
 .panel.active {
   display: block; /* Hiển thị panel khi có lớp active */
   opacity: 1; /* Đặt độ mờ thành 1 khi hiển thị */
   transform: translateY(0); /* Di chuyển panel về vị trí ban đầu */
 }
 
 .waiting {
   background-color: #ffecb3;
 }
 
 .waitingForPickUp {
   background-color: #e1f5fe;
 }
 
 .inTransit {
   background-color: #c8e6c9;
 }
 
 .returned {
   background-color: #ffccbc;
 }
 
 .delivered {
   background-color: #dcedc8;
 }
 
 .cancelled {
   background-color: #f8bbd0;
 }

 